.App {
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board__space {
  align-self: start;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  padding: 1rem;
  margin: 0.25rem;
  line-height: 3rem;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background-color: slategrey;
  border-bottom: 2px solid black;
}

.new-game {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 1rem;
  background-color: slategrey;
}