.App {
  text-align: center;
}

.board__space {
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  padding: 1.25rem;
  margin: 0.25rem;
  line-height: 5rem;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background-color: slategrey;
  border-bottom: 2px solid black;
}
